
/* tinymce样式修改 */
.mce-tinymce{
  box-sizing: border-box !important;
}
.v-md-editor{
  box-shadow:none;
  border-left:1px solid #ccc
}

/* element 样式 */
.demo-input .el-input-group__prepend {
  width: 50px;
}